<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Document</title>
    </head>
    <body>

        <nav class='navbar navbar-expand-lg navbar-light bg-light'>
            <!-- Container wrapper -->
            <div class='container'>
                <h1> Tech Blog</h1>
                <!-- Navbar brand -->
                <a class='navbar-brand me-2' href='https://mdbgo.com/'>
                    <img
                        src='https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp'
                        height='16'
                        alt='MDB Logo'
                        loading='lazy'
                        style='margin-top: -1px;'
                    />
                </a>

                <!-- Toggle button -->
                <button
                    class='navbar-toggler'
                    type='button'
                    data-mdb-toggle='collapse'
                    data-mdb-target='#navbarButtonsExample'
                    aria-controls='navbarButtonsExample'
                    aria-expanded='false'
                    aria-label='Toggle navigation'
                >
                    <i class='fas fa-bars'></i>
                </button>

                <div class='collapse navbar-collapse' id='navbarButtonsExample'>

                    <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
                        <li class='nav-item'>
                            <a class='nav-link' href='#'>Dashboard</a>
                        </li>
                    </ul>

                    <div class='d-flex align-items-center'>

                        <button type='button' class='btn btn-primary me-3'>
                            Login
                        </button>
                        <a
                            class='btn btn-dark px-3'
                            href='https://github.com/mdbootstrap/mdb-ui-kit'
                            role='button'
                        ><i class='fab fa-github'></i></a>
                    </div>
                </div>

            </div>
            <div class='container p-3 my-3 bg-dark text-white'>
                <h1>Blog one</h1>
                <p>Text here.</p>
            </div>
            <div class='container p-3 my-3 bg-dark text-white'>
                <h1>Blog two</h1>
                <p>Text here.</p>
            </div>
            <div class='container p-3 my-3 bg-dark text-white'>
                <h1>Blog three</h1>
                <p>Text here.</p>
            </div>

        </nav>

    </body>
</html>